

  
  .illustration-editor {
    margin-top: -2rem;
    margin-right: -10rem;
    display: grid;
    grid-template-rows: 12px auto;
    justify-items: center;
    position: relative;
  }
  
  .code {
    position: relative;
    width: 290px;
    height: 180px;
    background: #273158;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 5;
  }
  .code header {
    display: grid;
    grid-template-columns: 36px auto 36px;
    align-items: center;
  }
  .code header svg {
    margin: 10px;
  }
  .code header h2 {
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: #ffffff;
    margin: 0;
  }
  .code-html {
    left: -150px;
    top: -5 0px;
  }
  .code-css {
    left: 20px;
    top: 140px;
  }
  .code-js {
    left: -300px;
    top: 140px;
  }
  .code .code-content {
    margin: 0 10px 10px;
    color: white;
  }
  .code .code-content .c-r {
    color: #A88038;
  }
  .code .code-content .c-o {
    color: #DE7300;
  }
  .code .code-content .c-y {
    color: #E1CA72;
  }
  .code .code-content .c-g {
    color: #74B087;
  }
  .code .code-content .c-p {
    color: #9F8198;
  }
  .code .code-content .c-b {
    color: #7A99AD;
  }
  .code .code-content .c-c {
    color: #666666;
  }
  .code-css .code-content code .line-1 {
    width: 0%;
    margin: 0;
    border-right: 0.15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  .code-css .code-content code .line-2 {
    width: 0%;
    margin: 0;
    border-right: 0.15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  .code-css .code-content code .line-3 {
    width: 0%;
    margin: 0;
    border-right: 0.15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  .code-css .code-content code .line-4 {
    width: 0%;
    margin: 0;
    border-right: 0.15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  .code-css .code-content code .line-5 {
    width: 0%;
    margin: 0;
    border-right: 0.15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  .code-css .code-content code .line-1 {
    animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
  }
  .code-css .code-content code .line-2 {
    animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
  }
  .code-css .code-content code .line-3 {
    animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
  }
  .code-css .code-content code .line-4 {
    animation: typing-4 3s 9s steps(30, end) forwards, cursor 1s linear 9s 3;
  }
  .code-css .code-content code .line-1, .code-css .code-content code .line-3, .code-css .code-content code .line-4 {
    animation-duration: 1s;
    animation-timing-function: steps(10, end);
  }
  .code-css .code-content code .line-5 {
    border-color: transparent;
    animation: typing-5 3s 12s steps(30, end) forwards, cursor-persist 1s linear 12s infinite;
  }
  .code-css .code-content code .line-2 {
    margin-left: 2rem;
  }
  .code-css .code-content code .line-3, .code-css .code-content code .line-4, .code-css .code-content code .line-5 {
    margin-left: 4rem;
  }
  
  .editor-block {
    position: relative;
    display: block;
    width: 500px;
    height: 421px;
    background: linear-gradient(109.61deg, #4C4F5A 4.26%, #202125 84.84%);
    border-radius: 10px;
  }
  
  @keyframes typing-1 {
    from {
      width: 0;
    }
    to {
      width: 60px;
    }
  }
  @keyframes typing-2 {
    from {
      width: 0;
    }
    to {
      width: 220px;
    }
  }
  @keyframes typing-3 {
    from {
      width: 0;
    }
    to {
      width: 70px;
    }
  }
  @keyframes typing-4 {
    from {
      width: 0;
    }
    to {
      width: 75px;
    }
  }
  @keyframes typing-5 {
    from {
      width: 0;
    }
    to {
      width: 141px;
    }
  }
  @keyframes cursor {
    from, to, 20%, 80% {
      border-color: transparent;
    }
    25%, 75% {
      border-color: white;
    }
  }
  @keyframes cursor-persist {
    from, 45% {
      border-color: transparent;
    }
    50%, to {
      border-color: white;
    }
  }





  /* sliding images */
.carousel {
	position: relative;
	width: 90%;
	height: 550px;
	margin: auto;
	
	overflow: hidden;
 
    
	transform: translateZ(0px); /* stops flickering */
}
.carousel__buffer {
	display: none;
}
.carousel__buffer img {
	margin: 55px auto 18px;
	width: 553px;
	height: 347px;
}
.carousel__slide {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	background: no-repeat center top;
	background-size: cover;
	overflow: auto;
}
.carousel__slide img {
	display: block;
	position: relative;
	margin: 55px auto 50px;
	width: 70%;
	height: 70%;
	-webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
}
 
.carousel__input:checked + .carousel__slide {
	position: static;
	opacity: 1;
}
.carousel__arrow {
	position: absolute;
	display: none;
	cursor: pointer;
	background: #f10303;
	top: 250px;
	left: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 10;
}
.carousel__arrow:before {
	position: absolute;
	content: "";
	padding: 10px; /* Arrow size */
	box-shadow: 1px -1px 0 1px #000407 inset;
	-webkit-box-shadow: 2px -2px #000102 inset;
	-moz-box-shadow: 2px -2px #000203 inset;
	border: solid transparent;
	border-width: 0 0 2rem 2rem;
}
.carousel__arrow--prev {
	margin-left: -343px;
}
.carousel__arrow--prev:before {  
	transform: rotate(45deg);
	margin: 4px 0 0 -8px;
}
.carousel div div h1{
  text-align: center;
 background: rgb(255, 0, 0);
  border-radius: 20px;
  
}
.carousel__arrow--next {
	margin-left: 303px;
}
.carousel__arrow--next:before {
	transform: rotate(225deg);
	margin: 4px 0 0 17px;
}
#carousel__slide--1:checked ~ .carousel__arrow--1,
#carousel__slide--2:checked ~ .carousel__arrow--2,
#carousel__slide--3:checked ~ .carousel__arrow--3,
#carousel__slide--4:checked ~ .carousel__arrow--4,
#carousel__slide--5:checked ~ .carousel__arrow--5 {
	display: block;
}
.carousel__bullets {
	list-style: none;
	margin: 12px auto -6px;
	padding: 0;
	position: absolute;
	top: 408px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.carousel__bullets li {
	display: inline-block;
}
.carousel__bullets--bullet {
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 4px 0;
	border-radius: 50%;
	background: rgba(0,0,0,0);
	border: 3px solid #ff00ea;
}
#carousel__slide--1:checked ~ .carousel__arrow--1 ~ .carousel__bullets li:nth-child(1) .carousel__bullets--bullet,
#carousel__slide--2:checked ~ .carousel__arrow--2 ~ .carousel__bullets li:nth-child(2) .carousel__bullets--bullet,
#carousel__slide--3:checked ~ .carousel__arrow--3 ~ .carousel__bullets li:nth-child(3) .carousel__bullets--bullet,
#carousel__slide--4:checked ~ .carousel__arrow--4 ~ .carousel__bullets li:nth-child(4) .carousel__bullets--bullet,
#carousel__slide--5:checked ~ .carousel__arrow--5 ~ .carousel__bullets li:nth-child(5) .carousel__bullets--bullet {
	background: #0072bc;
	box-shadow: inset 0 0 0 2px #12171b; /* Separates blue dot from border */
}
.carousel__caption {
	width: 340px;
	max-width: 80%;
	margin: 24px auto 0;
}
.carousel__caption p {
	font: 400 9px "Roboto", sans-serif !important;
	color: #c1c1c1 !important;
	text-align: left;
}
.carousel__caption a {
	text-decoration: underline;
	color: #fff;
}
/* media of the sliding image  */
@media screen and (max-width: 690px) {
	.carousel__buffer {
		width: 100%;
		position: relative;
		display: inline-block;
		visibility: hidden;
		z-index: -1;
		padding-bottom: 120px;
	}
	.carousel__buffer img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: 0;
	}
	.carousel {
		height: auto;
		overflow: visible;
	}
	.carousel__slide {
		-webkit-transition: opacity 0s;
		-moz-transition: opacity 0s;
		-o-transition: opacity 0s;
		transition: opacity 0s;
		position: absolute;
		top:0;
		height: auto;
		background: transparent none !important;
	}
	.carousel__slide img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: 0;
	}
	.carousel__arrow {
		top: calc(50% - 70px);
	}
	.carousel__arrow--prev {
		margin-left: -48%;
	}
	.carousel__arrow--next {
		margin-left: calc(48% - 40px);
	}
	.carousel__bullets {
		top: auto;
		bottom: 40px;
	}
}
.carousel h2{
    text-align: center;
}